
canvas {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    outline: none;
    user-select: none;
    cursor: pointer;
}

.viewport {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    height: calc(100vh - var(--header-height));
}

.viewportControl {
    height: calc(98vh - var(--header-height));
    overflow: scroll;
    scrollbar-width: none;
}

.spreadsheet {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.panel {
    width: 100%;
}

.tracers {
    position: absolute;
}

.smallButtonGroup {
    font-size: 0.01px;
    padding: 0;
    margin: 0;

}